
FacialRecognitionProject/.vs/FacialRecognitionProject/v16/.suo
FacialRecognitionProject/.vs/FacialRecognitionProject/v16/.suo
FacialRecognitionProject/.vs/FacialRecognitionProject/v16/Server/sqlite3/db.lock
FacialRecognitionProject/.vs/FacialRecognitionProject/v16/Server/sqlite3/storage.ide
FacialRecognitionProject/.vs/FacialRecognitionProject/v16/Server/sqlite3/storage.ide-wal
FacialRecognitionProject/.vs/FacialRecognitionProject/v16/Server/sqlite3/storage.ide-shm
FacialRecognitionProject/.vs/FacialRecognitionProject/v16/.suo
FacialRecognitionProject/.vs/FacialRecognitionProject/v16/.suo
